body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}

#info {
	position: fixed;
	bottom: 12px;
	text-align:center;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-size:12px;
	opacity: 0.3;
}








/* ---------- icon button ---------- */
.iconButton {
  position: fixed;
  z-index: 10;
  padding: 8px;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.05);
  transition-property: opacity;
  transition-duration: 0.2s;
  opacity: 0.45;
  filter: alpha(opacity=45);
}
.iconButton:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.iconButton:active {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.iconButton img {
  width: 25px;
}






#SheetBehindModal {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}






/* ---------- popup ---------- */

.popupMessage {
	position: fixed;
	top:20px;
	right:20px;

	border-radius: 5px;
	padding: 0px;

	color:  rgba(255,255,255,0.8);
	opacity: 0.8;
}
.popupMessage img {
	opacity: 0.8;
	height:13px;
	vertical-align: middle;
	padding: 2px 8px 4px 4px;
}
.popupMessage p {
	margin: 10px;
	padding-right: 8px;
	display: inline-block;
	opacity: 0.8;
}
.popupMessage p span{
	font-size: 10px;
}


#webSocketConnectedMessage {
	background-color: rgba(0, 97, 19, 0.5);
}
#webSocketErrorMessage {
	background-color: rgba(0, 0, 0, 0.2);
}
#webSocketErrorMessage,#webSocketConnectedMessage{
	display: none;
}





/* ---------- spinner ---------- */

.spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #aaa;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}