body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}

#info {
	position: fixed;
	bottom: 12px;
	text-align:center;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-size:12px;
	opacity: 0.3;
}



/* ---------- popup ---------- */

.popupMessage {
	position: fixed;
	top:20px;
	right:20px;

	border-radius: 5px;
	padding: 0px;

	color:  rgba(255,255,255,0.8);
	opacity: 0.8;
}
.popupMessage img {
	opacity: 0.8;
	height:13px;
	vertical-align: middle;
	padding: 2px 8px 4px 4px;
}
.popupMessage p {
	margin: 10px;
	padding-right: 8px;
	display: inline-block;
	opacity: 0.8;
}
.popupMessage p span{
	font-size: 10px;
}


#webSocketConnectedMessage {
	background-color: rgba(0, 97, 19, 0.5);
}
#webSocketErrorMessage {
	background-color: rgba(0, 0, 0, 0.2);
}
#webSocketErrorMessage,#webSocketConnectedMessage{
	display: none;
}